@import "tailwindcss";

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeckTRIAL-Light-BF64829e8e6b5e8.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeckTRIAL-Medium-BF64829e8e8d71a.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beatrice Deck";
  src: url("/fonts/BeatriceDeckTRIAL-Bold-BF64829e8e9ca08.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-beatrice: "Beatrice Deck", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-beatrice);
  --font-mono: var(--font-geist-mono);
}

body {
  background: url("/images/noisy-background.webp") no-repeat center center / cover fixed;
  color: var(--foreground);
  font-family: var(--font-sans);
}
